@import 'mixin';

.container {
    @include full-height();
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skew-container {
    @include full-height();
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 6rem;
    font-weight: bold;
}

.black {
    background-color: black;
    color: white;
}

.yellow {
    background-color: yellow;
    color: black;
}

.green {
    background-color: green;
    color: black;
}